body {
    background-color: crimson;
}
header {
    width: 100%;
    position:fixed;
    display: flex;
    padding-left: 20px;
    box-shadow: 0 0 10px 3px;
    top: 0;
    justify-content: space-between;
    background-color: yellow;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 40%;
    margin-right: 20%;
    align-items: center;
    margin-left: 20%;
}
header:hover {
    background-color: chartreuse;
}
a {
    font-size: 30px;

  }

table, th, td {
    border: 1px solid black;
  }

img {
    width: 10%;
    height: 1%;
}
.prof {
    width: 50%;
    height: 50%;
}
footer {
    text-align: center;
}

div {
    padding-left: 20px;
    padding-bottom: 20px;
}
.data {
    margin-top: 150px;
    background-color: aqua;
}
.interest {
    background-color: rgb(133, 255, 2);
}
.values {
    background-color: deeppink;
}